@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
body{
   
    overflow-y:visible;
    font-family: "Montserrat", sans-serif;
    margin: 0; height: 80%; 
    font-weight: bolder;
    /* background-color:#222222;
    background-image: radial-gradient( rgba(2255, 255, 255, 0.1) 9%,transparent 9%);
    background-position: 0% 0%;
    background-size: 4vmin 4vmin; */


   
  

    
    
}
button{
    font-weight: 900;
}
  
.startrec{
    width: 30px; 
    height: 30px;
    background-color: #FF4949;
    border-radius: 80%;
    box-shadow: 0 2px rgb(233, 168, 158);
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    transform: translate(46vw,12.5vw);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    margin: 4px 2px;
    cursor: pointer;
  
    
  
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    font-size: 12px !important;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 5px;
    font-size: 11px;
    color: black;
  }
  img{
    width: 100%;
    height: auto;
    transform: translate(-2vw,2vw);
    -o-box-shadow:      12px 12px 29px #555;
-icab-box-shadow:   12px 12px 29px #555;
-khtml-box-shadow:  12px 12px 29px #555;
-moz-box-shadow:    12px 12px 29px #555;
-webkit-box-shadow: 12px 12px 29px #555;
box-shadow:         12px 12px 29px #555;
  
  }
  
.savebtn{
      height: fit-content;
    transform: translate(-25vw,5vw);

background-color: #66BFBF;

box-shadow: 0 2px rgb(233, 168, 158);
font-family: "Montserrat", sans-serif;

border: none;
color: white;
padding: 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: larger;
margin: 4px 2px;
cursor: pointer;
place-items: center;
    }

.stoprec{
    width: 30px; 
    height: 30px;
    background-color: #FF4949;
    border-radius: 80%;
    box-shadow: 0 2px rgb(233, 168, 158);
    font-family: "Montserrat", sans-serif;
    transform: translate(49vw,12.5vw);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    margin: 4px 2px;
    cursor: pointer;
  
   
}
.saverec{
   
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:x-small;
    margin: 4px 2px;
    cursor: pointer;

    background-color: #FF4949;
    font-family: "Montserrat", sans-serif;
    transform: translate(25vw,20vw);
 
    /* box-shadow: 0 2px rgb(158, 233, 213);
    font-family: "Montserrat", sans-serif;
    transform: translate(49vw,11vw);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: x-small;
    margin: 4px 2px;
    cursor: pointer; */
}
.uploadrec{
   
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:x-small;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #FF4949;
    font-family: "Montserrat", sans-serif;
    transform: translate(14.3vw,25vw);
 
    /* box-shadow: 0 2px rgb(158, 233, 213);
    font-family: "Montserrat", sans-serif;
    transform: translate(49vw,11vw);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: x-small;
    margin: 4px 2px;
    cursor: pointer; */
}
.upload{
    width: 10px; 
    height: 10px;
    background-color: #FF4949;
    box-shadow: 0 2px rgb(158, 233, 213);
    font-family: "Montserrat", sans-serif;
    transform: translate(55vw,6.5vw);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    margin: 4px 2px;
    cursor: pointer;
    place-items: center;

    

}

.stream{
      
     margin: 0 auto;
     display: block;
     transform: translateY(3vw);
  }
    

audio{
    color:#f38181;
}
.mic{
       
    /* margin: 0 auto;
    display:block; */
    transform: translate(30vw,8vw);
    background: transparent;
   
}a{
    color: white;
}

button:hover {
background-color: #FF6363;
opacity: 0.4;}
/* #pincode{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    
}
#gender{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
#language{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
} */
label{
    display: flex;
    flex-direction: column;
    color: black;
    margin-left: auto;
    margin-right: auto;
    font-size: small;
}
#lname,#fname,#pincode,#gender,#language {
    width: 45%;
    padding: 12px 20px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 3px 1px #888888;
    font-family: "Montserrat", sans-serif;
  }
  .formcomp{
    margin-left: auto;
    margin-right: auto;
    transform: translate(29vw,2vw);
  }
  .fa{
    /* align-items: center;
    justify-content: center; */
    transform: translate(-5px,-6px);
}

#starticon{
    transform: translate(-7px,-8px);
    font-size: 20px;
}
#stopicon{
    /* align-items: center;
    justify-content: center; */
    transform: translate(-7px,-9px);
    font-size: 16px;

}
#uploadicon{
    /* align-items: center;
    justify-content: center; */
    transform: translate(-7px,-9px);
    font-size: 14px;

}
#saveicon{
    transform: translate(-7px,-9px);
    font-size: 16px;
}
.addFileBtn{
    transform: translate(35vw,40.5vw);
    width: 15%;
    padding: 12px 20px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
   
    font-family: "Montserrat", sans-serif;
}
.labelfile{
    transform: translate(36.4vw,28.5vw);
    font-family: "Montserrat", sans-serif;
}

p{
    font-size: 1rem;
            font-family: serif;
            color: #FF4949;
         
            animation: animate 
                1.5s linear infinite;
    font-family: "Montserrat", sans-serif;
 
    transform: translate(45.4vw,5vw);
}
@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}
.viewcomments{
    transform: translate(45vw,25vw);
}
.stopwatch{
  
    font-size:x-large;
    transform: translate(46.8vw,7vw);
}


.last{
    color: #FF4949;
}
.full{


  top: 10;
  left: 0;

  overflow-x: hidden;
  overflow-y:scroll;
  width: 100%;
  height: 100vw;
  font-weight: 900;





}

#uploadtoast{
visibility: hidden;
min-width: 250px;
margin-left: -125px;
background-color: #FF4949;
color: #fff;
text-align: center;
border-radius: 2px;
padding: 16px;
position: fixed;
z-index: 1;
left: 50%;
bottom: 30px;
font-size: 17px;
}

#uploadtoast.show {
visibility: visible;
-webkit-animation: fadein 0.9s, fadeout 0.9s 2.5s;
animation: fadein 0.9s, fadeout 0.9s 2.5s;
}

#starttoast{
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #FF4949;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    }

#savedtoast{
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #FF4949;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    }
    #savedtoast.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }
    
    #starttoast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

    #stoptoast{
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #FF4949;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 17px;
        }
        
        #stoptoast.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

        .comments{
            transform: translate(40vw,11.8vw);
            width: 20%;
            height: 5%;
            justify-content: center;
        }

        #time{
            transform: translate(47.8vw,0vw);
        }
        .kw{
            transform: translate(44.6vw,7vw);
            justify-content:center;
            align-items: center;
            inline-size: 250px;
            overflow-wrap: break-word;
            hyphens: manual;
        
            color: #71797E;
        }
        .kwa{
            color: black;
            font-weight:bold;
          
        }

@-webkit-keyframes fadein{
    from{bottom:0;opacity: 0;}
    to{bottom: 30px;opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}



@media screen and (max-width: 600px) {

    .mic{
        transform: translate(0vw,7vw);
    }
    .startrec{
        transform: translate(40.5vw,21.5vw);

    }
    .stoprec{
        transform: translate(46.2vw,21.5vw);
      

    }
    p{
        transform: translate(37.4vw,5vw);
    }

    .saverec{
        transform: translate(-2vw,30.5vw);
    }
    .upload{
        transform: translate(48vw,25.5vw);

    }
    .addFileBtn{
        transform: translate(17vw,70.5vw);
        width: 55%;
    }
    .stopwatch{
  
        font-size:xx-large;
        transform: translate(38.8vw,7.5vw);
    }
    .kw{
        transform: translate(33.6vw,9vw);
        justify-content:center;
        align-items: center;
        inline-size: 250px;
        overflow-wrap: break-word;
        hyphens: manual;
    }


    .uploadrec{
   
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size:x-small;
        margin: 4px 2px;
        cursor: pointer;
        background-color: #FF4949;
        font-family: "Montserrat", sans-serif;
        transform: translate(-28.5vw,41.5vw);
     
        /* box-shadow: 0 2px rgb(158, 233, 213);
        font-family: "Montserrat", sans-serif;
        transform: translate(49vw,11vw);
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: x-small;
        margin: 4px 2px;
        cursor: pointer; */
    }
 .labelfile{
    transform: translate(20.4vw,70.5vw);
    font-family: "Montserrat", sans-serif;
}
 .savebtn{
    transform: translate(-5vw,10vw);
 }
 .comments{
    transform: translate(30vw,17.5vw);
    width: 40%;
 
 }

.stream{
      
    margin: 0 auto;
    width: 74%;
    transform: translate(0vw,0vw);
 }
   

.full{
    top: 10;
    left: 0;
  
    overflow-x: hidden;
    overflow-y:scroll;
    width: 100%;
    height: 280vw;
    font-weight: 900;
}
}



@media screen and (max-width: 480px) {

    .mic{
        transform: translate(0vw,7vw);
    }
    .startrec{
        transform: translate(40.5vw,26.5vw);

    }
    .stoprec{
        transform: translate(46.2vw,26.5vw);
      

    }
    p{
        transform: translate(32.5vw,5vw);
    }
    .saverec{
        transform: translate(-5.1vw,35.5vw);
    }
    .upload{
        transform: translate(48vw,25.5vw);

    }
   
    .kw{
            transform: translate(28.6vw,9vw);
            justify-content:center;
            align-items: center;
            inline-size: 250px;
            overflow-wrap: break-word;
            hyphens: manual;
            font-family: "Montserrat", sans-serif;
    }
    
    

    .addFileBtn{
        transform: translate(10vw,85.5vw);
        width: 55%;
    }


    .uploadrec{
   
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size:x-small;
        margin: 4px 2px;
        cursor: pointer;
        background-color: #FF4949;
        font-family: "Montserrat", sans-serif;
        transform: translate(35vw,37.5vw);
     
        /* box-shadow: 0 2px rgb(158, 233, 213);
        font-family: "Montserrat", sans-serif;
        transform: translate(49vw,11vw);
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: x-small;
        margin: 4px 2px;
        cursor: pointer; */
    }
    .stopwatch{
  
        font-size:xx-large;
        transform: translate(36.5vw,7.5vw);
    }
 .labelfile{
    transform: translate(20.4vw,70.5vw);
    font-family: "Montserrat", sans-serif;
}
 .savebtn{
    transform: translate(-5vw,10vw);
 }
 .comments{
    transform: translate(30vw,17.5vw);
    width: 40%;
 
 }

.stream{
      
    margin: 0 auto;
    width: 74%;
    transform: translate(0vw,0vw);
 }
   

.full{
    top: 10;
    left: 0;
    font-weight: 900!important;
    overflow-x: hidden;
    overflow-y:scroll;
    width: 100%;
    height: 290vw;
}

}

@media screen and (max-width: 420px) {

    .mic{
        transform: translate(0vw,7vw);
    }
    .startrec{
        transform: translate(37.5vw,30.5vw);

    }
    .stoprec{
        transform: translate(43.8vw,30.5vw);
      

    }
    .saverec{
        transform: translate(-8.1vw,35.5vw);
    }
    .upload{
        transform: translate(48vw,25.5vw);

    }
    p{
        transform: translate(29.5vw,5vw);
    }
    .addFileBtn{
        transform: translate(5vw,92.5vw);
        width: 55%;
    }
      
    .kw{
        transform: translate(28.6vw,9vw);
        justify-content:center;
        align-items: center;
        inline-size: 250px;
        overflow-wrap: break-word;
        hyphens: manual;
        font-family: "Montserrat", sans-serif;
}

    .stopwatch{
  
        font-size:xx-large;
        transform: translate(31.5vw,8.5vw);
    }
img{
    transform: translate(-8.8vw,2vw);
}

    .uploadrec{
   
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size:x-small;
        margin: 4px 2px;
        cursor: pointer;
        background-color: #FF4949;
        font-family: "Montserrat", sans-serif;
        transform: translate(32.1vw,37.5vw);
     
        /* box-shadow: 0 2px rgb(158, 233, 213);
        font-family: "Montserrat", sans-serif;
        transform: translate(49vw,11vw);
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: x-small;
        margin: 4px 2px;
        cursor: pointer; */
    }
 .labelfile{
    transform: translate(20.4vw,70.5vw);
    font-family: "Montserrat", sans-serif;
}
 .savebtn{
    transform: translate(-5vw,10vw);
 }
 .comments{
    transform: translate(30vw,17.5vw);
    width: 40%;
 
 }

.stream{
      
    margin: 0 auto;
    width: 74%;
    transform: translate(0vw,0vw);
 }
   

.full{
    top: 10;
    left: 0;
  
    overflow-x: hidden;
    overflow-y:scroll;
    width: 100%;
    height: 320vw;
}
}

@media screen and (max-width: 393px) {

    .mic{
        transform: translate(0vw,7vw);
    }
    .startrec{
        transform: translate(38.5vw,32.5vw);

    }
    .stoprec{
        transform: translate(43.2vw,32.5vw);
      

    }
    .kw{
        transform: translate(28.6vw,9vw);
        justify-content:center;
        align-items: center;
        inline-size: 250px;
        overflow-wrap: break-word;
        hyphens: manual;
        font-family: "Montserrat", sans-serif;
    }



    .saverec{
        transform: translate(-10.1vw,39.5vw);
    }
    .upload{
        transform: translate(48vw,25.5vw);

    }
    p{
        transform: translate(27.5vw,5vw);
    }
    .addFileBtn{
        transform: translate(3vw,98.5vw);
        width: 55%;
    }
    .stopwatch{
  
        font-size:xx-large;
        transform: translate(30.5vw,8.5vw);
    }


    .uploadrec{
   
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size:x-small;
        margin: 4px 2px;
        cursor: pointer;
        background-color: #FF4949;
        font-family: "Montserrat", sans-serif;
        transform: translate(30.1vw,42.5vw);
     
        /* box-shadow: 0 2px rgb(158, 233, 213);
        font-family: "Montserrat", sans-serif;
        transform: translate(49vw,11vw);
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: x-small;
        margin: 4px 2px;
        cursor: pointer; */
    }
 .labelfile{
    transform: translate(20.4vw,70.5vw);
    font-family: "Montserrat", sans-serif;
}
 .savebtn{
    transform: translate(-5vw,10vw);
 }
 .comments{
    transform: translate(30vw,22.5vw);
    width: 40%;
 
 }
 img{
    transform: translate(-10.8vw,2vw);
}

.stream{
      
    margin: 0 auto;
    width: 74%;
    transform: translate(0vw,0vw);
 }
   

.full{
    top: 10;
    left: 0;
  
    overflow-x: hidden;
    overflow-y:scroll;
    width: 100%;
    height: 370vw;
}

}

@media screen and (max-width: 360px) {

    .mic{
        transform: translate(0vw,7vw);
    }
    .startrec{
        transform: translate(38vw,34.5vw);

    }
    img{
        transform: translate(-5vw,2vw);
    }
    .kw{
        transform: translate(28.6vw,9vw);
        justify-content:center;
        align-items: center;
        inline-size: 200px;
        overflow-wrap: break-word;
        hyphens: manual;
        font-family: "Montserrat", sans-serif;
    }

    .stoprec{
        transform: translate(43vw,34.5vw);
      

    }
    .stopwatch{
  
        font-size:xx-large;
        transform: translate(32.7vw,8.5vw);
    }
    p{
        transform: translate(25.5vw,5vw);
    }
    .saverec{
        transform: translate(-11.1vw,43.5vw);
    }
    .upload{
        transform: translate(48vw,25.5vw);

    }
    .addFileBtn{
        transform: translate(-2vw,108.5vw);
        width: 55%;
    }


    .uploadrec{
   
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size:x-small;
        margin: 4px 2px;
        cursor: pointer;
        background-color: #FF4949;
        font-family: "Montserrat", sans-serif;
        transform: translate(29.1vw,47.5vw);
     
        /* box-shadow: 0 2px rgb(158, 233, 213);
        font-family: "Montserrat", sans-serif;
        transform: translate(49vw,11vw);
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: x-small;
        margin: 4px 2px;
        cursor: pointer; */
    }
 .labelfile{
    transform: translate(20.4vw,70.5vw);
    font-family: "Montserrat", sans-serif;
}
 .savebtn{
    transform: translate(-5vw,10vw);
 }
 .comments{
    transform: translate(30vw,22.5vw);
    width: 40%;
 
 }

.stream{
      
    margin: 0 auto;
    width: 74%;
    transform: translate(0vw,0vw);
 }
   

.full{
    top: 10;
    left: 0;
  
    overflow-x: hidden;
    overflow-y:scroll;
    width: 100%;
    height: 360vw;
}

}
@media screen and (max-width: 349px) {

    .mic{
        transform: translate(0vw,7vw);
    }
    .startrec{
        transform: translate(33.5vw,32.5vw);

    }
    .stoprec{
        transform: translate(43.2vw,32.5vw);
      

    }
    .stopwatch{
  
        font-size:xx-large;
        transform: translate(32.5vw,8.5vw);
    }
    .kw{
        transform: translate(28.6vw,9vw);
        justify-content:center;
        align-items: center;
        inline-size: 200px;
        overflow-wrap: break-word;
        hyphens: manual;
        font-family: "Montserrat", sans-serif;
    }

    p{
        transform: translate(23.8vw,5vw);
    }
    .saverec{
        transform: translate(-10.1vw,43.5vw);
    }
    .upload{
        transform: translate(48vw,25.5vw);

    }
    .addFileBtn{
        transform: translate(-2vw,108.5vw);
        width: 55%;
    }



    .uploadrec{
   
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size:x-small;
        margin: 4px 2px;
        cursor: pointer;
        background-color: #FF4949;
        font-family: "Montserrat", sans-serif;
        transform: translate(30.1vw,45.5vw);
     
        /* box-shadow: 0 2px rgb(158, 233, 213);
        font-family: "Montserrat", sans-serif;
        transform: translate(49vw,11vw);
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: x-small;
        margin: 4px 2px;
        cursor: pointer; */
    }
 .labelfile{
    transform: translate(20.4vw,70.5vw);
    font-family: "Montserrat", sans-serif;
}
 .savebtn{
    transform: translate(-5vw,10vw);
 }
 .comments{
    transform: translate(30vw,22.5vw);
    width: 40%;
 
 }

.stream{
      
    margin: 0 auto;
    width: 74%;
    transform: translate(0vw,0vw);
 }
   

.full{
    top: 10;
    left: 0;
  
    overflow-x: hidden;
    overflow-y:scroll;
    width: 100%;
    height: 370vw;
}

}

@media screen and (max-width: 320px) {

    .mic{
        transform: translate(0vw,7vw);
    }
    .startrec{
        transform: translate(34.5vw,48.5vw);

    }
    .stoprec{
        transform: translate(41.2vw,48.5vw);
      

    }
    .kw{
        transform: translate(28.6vw,9vw);
        justify-content:center;
        align-items: center;
        inline-size: 200px;
        overflow-wrap: break-word;
        hyphens: manual;
        font-family: "Montserrat", sans-serif;
    }
    .stopwatch{
  
        font-size:xx-large;
        transform: translate(31.5vw,8.5vw);
    }

    p{
        transform: translate(21.8vw,5vw);
    }
    .saverec{
        transform: translate(-14.1vw,42.5vw);
    }
    .upload{
        transform: translate(48vw,25.5vw);

    }
    .addFileBtn{
        transform: translate(6vw,114.5vw);
        width: 65%;
    }


    img{
        transform: translate(-9.8vw,2vw);
    }
    .uploadrec{
   
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size:x-small;
        margin: 4px 2px;
        cursor: pointer;
        background-color: #FF4949;
        font-family: "Montserrat", sans-serif;
        transform: translate(26.1vw,45.5vw);
     
        /* box-shadow: 0 2px rgb(158, 233, 213);
        font-family: "Montserrat", sans-serif;
        transform: translate(49vw,11vw);
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: x-small;
        margin: 4px 2px;
        cursor: pointer; */
    }
 .labelfile{
    transform: translate(20.4vw,70.5vw);
    font-family: "Montserrat", sans-serif;
}
 .savebtn{
    transform: translate(-5vw,10vw);
 }
 .comments{
    transform: translate(30vw,21.5vw);
    width: 40%;
 
 }

.stream{
      
    margin: 0 auto;
    width: 74%;
    transform: translate(0vw,0vw);
 }
   

.full{
    top: 10;
    left: 0;
  
    overflow-x: hidden;
    overflow-y:scroll;
    width: 100%;
    height: 410vw;
}

}
@media screen and (max-width: 300px) {

    .mic{
        transform: translate(0vw,7vw);
    }
    .startrec{
        transform: translate(34.5vw,50.5vw);

    }
    .stoprec{
        transform: translate(41.2vw,50.5vw);
      

    }
    .kw{
        transform: translate(28.6vw,9vw);
        justify-content:center;
        align-items: center;
        inline-size: 200px;
        overflow-wrap: break-word;
        hyphens: manual;
        font-family: "Montserrat", sans-serif;
    }

    p{
        transform: translate(19.8vw,5vw);
    }
    .stopwatch{
  
        font-size:xx-large;
        transform: translate(30.5vw,8.5vw);
    }
    .saverec{
        transform: translate(-14.1vw,42.5vw);
    }
    .upload{
        transform: translate(48vw,25.5vw);

    }
    .addFileBtn{
        transform: translate(6vw,121.5vw);
        width: 65%;
    }



    .uploadrec{
   
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size:x-small;
        margin: 4px 2px;
        cursor: pointer;
        background-color: #FF4949;
        font-family: "Montserrat", sans-serif;
        transform: translate(26.1vw,45.5vw);
     
        /* box-shadow: 0 2px rgb(158, 233, 213);
        font-family: "Montserrat", sans-serif;
        transform: translate(49vw,11vw);
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: x-small;
        margin: 4px 2px;
        cursor: pointer; */
    }
 .labelfile{
    transform: translate(20.4vw,70.5vw);
    font-family: "Montserrat", sans-serif;
}
 .savebtn{
    transform: translate(-5vw,10vw);
 }
 .comments{
    transform: translate(30vw,21.5vw);
    width: 40%;
 
 }

.stream{
      
    margin: 0 auto;
    width: 74%;
    transform: translate(0vw,0vw);
 }
   

.full{
    top: 10;
    left: 0;
  
    overflow-x: hidden;
    overflow-y:scroll;
    width: 100%;
    height: 410vw;
}
}


@media screen and (max-width: 280px) {

    .mic{
        transform: translate(0vw,7vw);
    }
    .startrec{
        transform: translate(34.5vw,53.5vw);

    }
    .stoprec{
        transform: translate(41.2vw,53.5vw);
      

    }
    .stopwatch{
  
        font-size:xx-large;
        transform: translate(30.3vw,8.5vw);
    }
    .kw{
        transform: translate(28.6vw,9vw);
        justify-content:center;
        align-items: center;
        inline-size: 150px;
        overflow-wrap: break-word;
        hyphens: manual;
        font-family: "Montserrat", sans-serif;
    }

    p{
        transform: translate(17.8vw,5vw);
        color: #888888;
    }
    .saverec{
        transform: translate(-14.1vw,42.5vw);
    }
    .upload{
        transform: translate(48vw,25.5vw);

    }
    .addFileBtn{
        transform: translate(6vw,121.5vw);
        width: 65%;
    }



    .uploadrec{
   
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size:x-small;
        margin: 4px 2px;
        cursor: pointer;
        background-color: #FF4949;
        font-family: "Montserrat", sans-serif;
        transform: translate(26.1vw,45.5vw);
     
        /* box-shadow: 0 2px rgb(158, 233, 213);
        font-family: "Montserrat", sans-serif;
        transform: translate(49vw,11vw);
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: x-small;
        margin: 4px 2px;
        cursor: pointer; */
    }
 .labelfile{
    transform: translate(20.4vw,70.5vw);
    font-family: "Montserrat", sans-serif;
}
 .savebtn{
    transform: translate(-5vw,10vw);
 }
 .comments{
    transform: translate(30vw,21.5vw);
    width: 40%;
 
 }

.stream{
      
    margin: 0 auto;
    width: 74%;
    transform: translate(0vw,0vw);
 }
   

.full{
    top: 10;
    left: 0;
  
    overflow-x: hidden;
    overflow-y:scroll;
    width: 100%;
    height: 415vw;
}
}
